<% 
if !params[:macAddress].nil?
	session[:macAddress] = params[:macAddress] 
end
%>
<div id='container'>
	<div id='header'>
		<%= image_tag("header.jpg", :alt => "header") %>
	</div>
	<div id='splashForm'>
		<%= render 'form' %>
	</div>
	<div id='banner'>
		<%= image_tag("banner.jpg", :alt => "banner") %>
	</div>
</div>